@{
    ViewData["Title"] = "Home Page";
}

<form id="createForm">
    <div>
        <input name="inventoryNumber" class="form-group col-md-8 mb-3" placeholder="Инв. номер" type="text" />
        <input name="description" class="form-group col-md-8 mb-3" placeholder="Описание" type="text" />
        <input name="owner" class="form-group col-md-8 mb-3" placeholder="Владелец" type="text" />
        <input name="location" class="form-group col-md-8 mb-3" placeholder="Локация" type="text" />
    </div>
    <button id="createTask" class="btn btn-primary col-md-3 mb-2">Создать</button>
</form>

<div class="row">
    <div class="form-group col-md-2">
        <label class="col-form-label">Инв. номер</label>
        <input name="inventoryFilter" type="text" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label class="col-form-label">Описание</label>
        <input name="descriptionFilter" type="text" class="form-control" />
    </div>
    <div class="form-group col-md-2">
        <label class="col-form-label">Владелец</label>
        <input name="ownerFilter" type="text" class="form-control" />
    </div>
    <div class="form-group col-md-2 mb-3">
        <label class="col-form-label">Локация</label>
        <input name="locationFilter" type="text" class="form-control" />
    </div>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-dark table-hover table-striped mb-0" id="tableId">
        <thead>
            <tr>
                <th>Инв. номер</th>
                <th>Описание</th>
                <th>Владелец</th>
                <th>Локация</th>
                <th>Дата добавления</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
            },
            buttonsStyling: false
        })

        let dataTable = $('#tableId').DataTable({
            info: true,
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            ajax: {
                url: '@Url.Action("ComputerHandler")',
                method: 'GET',
                data: model
            },
            columns: [
                { data: 'inventoryNumber' },
                { data: 'description' },
                { data: 'owner' },
                { data: 'location' },
                { data: 'additionDate' },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return '<button id="info" class="btn btn-success btn-sm center-block">Подробнее</button>'
                    }
                },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return '<button id="delete" class="btn btn-danger btn-sm center-block">Удалить</button>'
                    }
                },
            ],
            createdRow: function(nRow, data) {
                var handlerDelete = function () {
                    console.log(data.id);
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete")',
                        data: { id: data.id },
                    })
                }

                var handlerInfo = function () {
                    console.log(data.id);
                    toComputer(data.id);
                }

                for (var i = 0; i < dataTable.columns().header().length - 1; i++) {
                    $('td', nRow).eq(i).css('cursor', 'pointer');

                    $('td', nRow).eq(i).on('click', null);
                }
                $('#info', nRow).on('click', handlerInfo);
                $('#delete', nRow).on('click', handlerDelete);
            }
        })

        function model() {
            return {
                InventoryNumber: $('input[name="inventoryFilter"]').val(),
                Description: $('input[name="descriptionFilter"]').val(),
                Owner: $('input[name="ownerFilter"]').val(),
                Location: $('input[name="locationFilter"]').val(),
            }
        }

        $('input[name="inventoryFilter"]').on('change', function () {
            dataTable.draw();
        })

        $('input[name="descriptionFilter"]').on('change', function () {
            dataTable.draw();
        })

        $('input[name="ownerFilter"]').on('change', function () {
            dataTable.draw();
        })

        $('input[name="locationFilter"]').on('change', function () {
            dataTable.draw();
        })

        function toComputer(id) {
            var url = '@Url.Action("Index", "Computer", new { id = "__id__" })';
            window.location.href = url.replace('__id__', id);
        }

        $('#createTask').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Home")',
                data: $('#createForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confimButtonText: 'Ok'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confimButtonText: 'Ok'
                    })
                }
            })
        })

    </script>
}